body {
  flex-direction: column;
}

h1{
  background-color: LightSlateGrey;
  border-radius: 20px;
  color: black;
  display: block;
  font-family: Corbel, Forte, sans-serif;
  font-size: 2em;
  margin: 0.4em;
  padding: 0.5em;
  position: relative;
  text-align: center;
  resize: vertical;
}

p{
  background-image: linear-gradient(to right, orange , yellow);
  border-radius: 20px;
  color: white;
  font-family: Courier New, Modern, sans-serif;
  font-size: 1em;
  margin: 0.75em;	
  padding: 0.5em;
  resize: vertical;
  text-align: center;
}

#content{
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 0.5em; 
}

#container{
  text-align: center;
}

#input-email {
  align-self: center;
  background-color: lightgrey;
  border-radius: 20px;
  box-align: center;
  box-sizing: border-box;
  float: center;
  font-family: System, Wide-Latin, sans-serif;
  margin: 0.75em;
  padding: 0.5em;
  resize: vertical;
  text-align: center;
}

#input-age-verification{
  background-color: lightgrey;
  border-radius: 20px;
  box-align: center;
  box-sizing: border-box;
  font-family: Modern, Dubai, sans-serif;
  margin: 0.75em;
  padding: 0.5em;
  resize: vertical;
  text-align: center;
}

#input[type=date]{
  width:150px;
  padding: 5px 5px;
  margin: 5px 5px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}

#input-submit{
  background-color: grey;
  border-radius: 20px;
  color: white;
  font-family: System, Wide-Latin, sans-serif;
  margin: 0.75em;
  padding: 0.75em 1.25em;
  resize: vertical;
  text-align: center;
}

input[type=submit]:hover {
  background-color: lightgrey;
  cursor: pointer;
}

img {
  width: 1.3em;
  margin: auto;
  text-align: center;
}

label {
  display: inline-block;
  box-align: center;
  box-sizing: border-box;
  float: center;
  padding: 0.75em 0.75em 0.75em 0.75em;
  text-align: center;
}

logo {
  color: black;
}

#name, #phone, #email, #dob, #entryinput {
  align-self: center;
  float: center;
}

@media screen and (min-width: 800px) {
  h1{
    font-size: 40px;
  }
  body{
    font-size: 20px;
    max-width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  h1{
    font-size: 40px;
  }
  body{
    font-size: 20px;
    max-width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 720px) {
  .col-25, .col-75, input[type=submit] {
    margin-top: 0;
    width: 100%;
  }
  h1{
    font-size: 30px;
  }
  body{
    font-size: 15px;
    max-width: 100%;
    text-align: center;
  }
  input[type=email], select{
    width: 50%
  }
  input[type=date], select{
    width: 50%
  }
  input[type=tel], select{
    width: 50%
  }
}